img {
    max-width: 100%;	
}

//----------header----------//

header {
    width: 100%;
    display: flex;
    margin-bottom: 120px;
    padding-left: 4.6875%;
    border-bottom: 1px solid #707070;
    align-items: center;
}

.site-title {
    display: flex;
    width: 100%;
    font-size: 66px;
    padding: 20px 0;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

		column-gap: 80px;
}

.header-nav-item {
    font-size: 40px;
    padding-right: 80px;
}

.header-nav-item:first-child {
    border-right: 1px solid #000;
}

.contact {
    font-size: 40px;
    color: #fff;
    background-color: #000;
    padding: 40px 2.608%;
}

//----------main共通部分----------//

.main-content {
    display: flex;
    flex-flow: column;
    width: 900px;
}

//

.main-section-wrap {
    display: flex;
    // flex-flow: column;

}

//----------main_top----------//

.top {
    position: relative;
    margin-bottom: 130px;
}

.concept {
    position: absolute;
    top: 324px;
    left: 0;
    margin-left: 90px;
}

.main-concept {
    display: flex;
    flex-flow: column;
    font-size: 150px;
    font-family: "shinryu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.concept-text {
    padding: 8px;
    font-size: 50px;
}

.top-img {
    margin-right: 0;
    margin-left: auto;
    display: block;
}

@media (max-width: 1024px) {
}