@import "_mixin";
@import "_header";
@import "_footer";
@import "_contact";
@import "_animation";
@import "_button";

html {
  font-size: 10px;
  color: #333;
}

p {
  line-height: 4.25rem;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

img {
  max-width: 100%;
  object-fit: cover;
}

body {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 300;
  background-color: #fdf8ed;
}

@media (max-width: 1440px) {
  body.page-id-89 {
    background-size: 100% 890px;
  }
}
@media (max-width: 1290px) {
  p {
    line-height: 2.75rem;
  }
  .main-nav {
    column-gap: 40px;
  }
  .main-nav > .menu-item {
    padding-right: 40px;
  }
  body.page-id-89 {
    background-size: 100% 890px;
  }
  .main {
    height: 45vw;
  }
}

/* || front-page.php */

body.page-id-89::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: url(../img/top-image-02.jpg);
  background-repeat: no-repeat;
}

.page-id-89 .header {
  color: #fff;
}

.main {
  position: relative;
  max-width: 100%;
  height: 40vw;
  margin-bottom: 120px;
  color: #fff;
  @include mq("tab") {
    margin-bottom: 350px;
  }
}

.concept {
  margin-bottom: 60px;
  @include mq("tab") {
    margin-bottom: 140px;
  }
}

.title {
  padding-left: 4.6875%;
}

.title-main {
  display: flex;
  font-size: clamp(4.8rem, 11vw, 10rem);
  font-weight: 400;
  font-style: normal;
}

.title-sub {
  padding-top: 5px;
  font-size: clamp(1.6rem, 3vw, 3.5rem);
}

.message {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 75%;
  padding-right: 5.6875%;
  font-family: "Montserrat", sans-serif;
  @include mq("tab") {
    position: static;
    padding-right: 0%;
  }
}

.message-text {
  font-size: clamp(2rem, 1.8vw, 3rem);
  line-height: 4.45rem;
  position: static;
  padding-right: 0%;
  padding-left: 4.6875%;
  @include mq("tab") {
    line-height: 2.85rem;
  }
}

#main-container {
  position: relative;
}

.container {
  display: flex;
  max-width: 100%;
  padding-top: 50px;
  padding-right: 4.6875%;
  margin-inline: auto;
  position: relative;
  z-index: 1;
  background-color: #fdf8ed;
  @include mq("tab") {
    padding-top: 50px;
    padding-right: 0;
  }
}

.side-menu {
  width: 20%;
  position: absolute;
  left: 0;
  top: 0;
  max-height: calc(100vh - 20px);
  overflow: auto;
  padding-top: 40px;
  padding-left: 4.6875%;
  @include mq("tab") {
    display: none;
  }
}

.side-menu.is-fixed {
  position: fixed;
  top: 20px;
}

.side-menu.is-fixed.is-end {
  position: absolute;
  top: auto;
  bottom: 0;
}

.side-menu-title {
  font-size: 2.6rem;
  font-family: "Montserrat", sans-serif;
  margin: 10px 0 30px 0;
}

.side-menu-title a {
  padding: 10px;
}

.side-nav .menu-item {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.side-nav .menu-item a {
  padding: 10px;
  font-size: 1.8rem;
}

@media (max-width: 1024px) {
  body.page-id-89 {
    height: 670px;
    background-size: cover;
    background-position-x: -320px;
    background-position-y: -108px;
  }
}

/* || front-page.php/page-about.php/共通 */

.section-content {
  display: flex;
  flex-flow: column;
  margin-bottom: 80px;
}

.section-content h2 {
  color: #4b6aa5;
}

.section-content-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  @include mq("tab") {
    margin-bottom: 60px;
  }
}

.section-content-title-en {
  font-size: clamp(3rem, 3.5vw, 5rem);
  padding-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}

.section-content-title-ja {
  font-size: clamp(1.4rem, 3.5vw, 1.6rem);
}

.section-wrap {
  margin-inline: auto;
  margin-left: 40%;
  @include mq("tab") {
    margin: 0 10px;
    padding-right: 0;
  }
}

.main-content-img {
  display: block;
  margin-inline: auto;
}

.about-section-wrap {
  display: flex;
  margin-bottom: 60px;
  @include mq("tab") {
    display: block;
    margin-bottom: 30px;
  }
}
.about-section-image-wrap {
  width: 70%;
  @include mq("tab") {
    width: 100%;
  }
}

.about-section-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.about-section-text-wrap {
  margin-top: 100px;
  @include mq("tab") {
    margin-top: 30px;
  }
}

.about-section-text {
  font-size: clamp(1.6rem, 5vw, 2rem);
  margin: 20px 0 60px 9%;
  line-height: 3.45rem;
  font-family: "Zen Kaku Gothic New", sans-serif;
  @include mq("tab") {
    margin: 10px 0 40px;
  }
}

.about-section-text p {
  margin-bottom: 10px;
}

.-wrap {
  display: block;
  text-align: center;
}

.works-section-image-wrap {
  display: flex;
  margin-bottom: 120px;
  @include mq("tab") {
    display: block;
    margin-bottom: 60px;
  }
}

.works-section-image-wrap:nth-last-child(4) {
  margin-bottom: 80px;
}

.works-section-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.works-section-wrap {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-bottom: 11px;
  margin-left: 20px;
  @include mq("tab") {
    margin-left: 0;
  }
}

.works-section-text {
  font-size: clamp(1.4rem, 3.5vw, 1.6rem);
  width: 250px;
  line-height: 2.35rem;
  margin-bottom: 5px;
}

.works-section-company {
  font-size: 2rem;
}
.contact-wrap {
  position: relative;
  background-image: url(../img/contact-background.jpg);
  background-size: cover;
}
.contact-wrap::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}
.contact-text-wrap {
  position: relative;
  padding: 80px 50px 60px;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  color: #fff;
  line-height: 4rem;
  z-index: 10;
}
.contact-text {
  line-height: 3.75rem;
  padding-bottom: 20px;
}
//-----loading-----//
#loading {
  background-color: #e7eded;
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: grid;
  place-items: center;
}
#loading-screen {
  background-color: #b9e8e5;
  position: fixed;
  inset: 0;
  z-index: 9998;
  translate: 0 100vh;
}
#loading p {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #707070;
}

/* || page-about.php / page-works.php共通 */

.page-side-menu {
  padding-left: 4.6875%;
}

.page-wrap {
  max-width: 1280px;
  margin-inline: auto;
  margin-left: 28%;
  padding-right: 80px;
  @include mq("tab") {
    margin: 0 10px;
    padding: 0;
  }
}

.page-title {
  display: flex;
  flex-direction: column;
  color: #4b6aa5;
  margin-bottom: 120px;
  @include mq("tab") {
    margin-bottom: 50px;
    padding-left: 0;
  }
}

.title-en {
  font-size: clamp(3rem, 3.5vw, 5rem);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5px;
}

.title-ja {
  font-size: clamp(1.4rem, 3.5vw, 2rem);
}

/* ||page-about.php */

.profile {
  display: grid;
  margin-bottom: 80px;
  gap: 50px;
  grid-template-columns: 33% 57%;
  @include mq("tab") {
    display: block;
  }
}

.my-name-wrap {
  display: flex;
  width: 76%;
  border-bottom: 3px solid #4b6aa5;
  margin-bottom: 40px;
  padding-top: 10%;
  align-items: baseline;
}

.my-name {
  font-size: clamp(3rem, 5vw, 4rem);
  padding-bottom: 10px;
  padding-right: 18px;
}

.my-name-kana {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.profile-text {
  font-size: clamp(1.6rem, 5vw, 2rem);
  @include mq("tab") {
    line-height: 2.85rem;
  }
}

.my-image {
  height: 100%;
  object-fit: cover;
}

.production-wrap {
  margin-bottom: 130px;
  @include mq("tab") {
    margin-bottom: 80px;
  }
}

.production-title-wrap {
  border-bottom: 1px solid #333;
  margin-bottom: 80px;
  width: 80%;
  @include mq("tab") {
    width: 100%;
  }
}

.production-title {
  font-size: clamp(2.5rem, 2.5vw, 4rem);
  font-weight: 400;
  padding-bottom: 10px;
}

.production-contents-wrap {
  display: grid;
  width: 100%;
  gap: 10%;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  @include mq("tab") {
    margin-bottom: 120px;
  }
}

.production-contents {
  display: flex;
  flex-direction: column;
}

.production-contents-icon {
  font-size: clamp(6rem, 2.5vw, 8rem);
  padding-bottom: 20px;
  margin-inline: auto;
  opacity: 0.8;
}

.production-contents-title {
  font-size: clamp(2rem, 2.5vw, 2.5rem);
  font-weight: 400;
  margin-bottom: 40px;
  margin-inline: auto;
}

.production-contents-text {
  font-size: clamp(1.6rem, 2.5vw, 2rem);
}

.circle-wrap {
  width: 160px;
  display: block;
}

.circle-animation {
  fill: none;
  stroke: #707070;
  stroke-width: 2px;
  stroke-dasharray: 314;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.html-css-circle-color {
  stroke: #f16528;
}

.js-circle-color {
  stroke: #f0d91c;
}

.wp-circle-color {
  stroke: #3aabd2;
}

.ps-circle-color {
  stroke: #001e36;
}

.ai-circle-color {
  stroke: #330000;
}

.xd-circle-color {
  stroke: #470137;
}

.circle-animation-active .circle-animation {
  animation: dash 2s ease-in-out forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 314;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.circle-text {
  font-size: 2.5rem;
}

.text-html,
.text-css {
  font-size: 1.6rem;
}

.skill-content {
  display: grid;
  gap: 0.645%;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  margin-top: 60px;
  margin-bottom: 70px;
  font-family: "Montserrat", sans-serif;
  @include mq("tab") {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }
}

.skill-item {
  width: clamp(9rem, 11vw, 15rem);
  height: clamp(9rem, 11vw, 15rem);
  border: 5px solid #707070;
  border-radius: 50%;
  text-align: center;
  display: grid;
  place-content: center;
  font-size: clamp(1.6rem, 11vw, 5rem);
}

.skill-html-css {
  font-size: clamp(1.8rem, 5vw, 3rem);
}

.skill-wrap {
  margin: 0 auto;
}

.skill-item-text {
  font-size: 1.6rem;
  text-align: center;
}

.archive-section {
  margin-bottom: 180px;
}

.archive-text-wrap {
  padding-left: 200px;
  @include mq("tab") {
    padding-left: 0;
  }
}

.archive-text {
  font-size: clamp(1.6rem, 2.5vw, 2rem);
  padding-bottom: 100px;
  line-height: 4.65rem;
  @include mq("tab") {
    line-height: 2.85rem;
  }
}

@media (max-width: 1024px) {
  .circle-wrap {
    width: 100px;
  }
}

/* || page-works.php */

.works-message {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  text-align: center;
  margin-bottom: 150px;
}

.works-image-wrap {
  display: grid;
  gap: 100px 6.345%;
  grid-template-columns: repeat(auto-fit, minmax(46%, 1fr));
  margin-bottom: 120px;
  @include mq("tab") {
    display: block;
  }
}

.works-excerpt {
  font-size: 1.6rem;
  line-height: 3.15rem;
  width: 60%;
  margin-bottom: 10px;
  @include mq("tab") {
    width: 80%;
  }
}

.works-image-title {
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
}

.works-list img {
  margin-bottom: 20px;
  width: 83%;
  @include mq("tab") {
    width: 100%;
  }
}

.works-content-text {
  max-width: 900px;
  font-size: clamp(1.6rem, 5vw, 2rem);
  margin-bottom: 60px;
  margin-inline: auto;
}

.works-content-wrap {
  display: grid;
  margin-bottom: 120px;
}

.no-br {
  display: none;
  @include mq("tab") {
    display: block;
  }
}

.experience-img {
  margin-inline: auto;
  margin-bottom: 40px;
}

@media (max-width: 1024px) {
  .works-section-image:last-child {
    margin-bottom: 0;
  }
  .works-section-image {
    margin-bottom: 60px;
  }
  .works-message {
    text-align: start;
    margin-bottom: 70px;
  }
}

/* || single.php */

.single-page-content-title {
  font-size: clamp(2rem, 5vw, 5rem);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 40px;
}

.my-works-page-wrap {
  max-width: 900px;
  margin-inline: auto;
  @include mq("tab") {
    padding: 0 4.6875%;
  }
}

.my-works-image {
  margin-bottom: 60px;
}

.my-works-image img {
  object-fit: contain;
  @include mq("tab") {
    height: 40%;
  }
}

.my-works-content-wrap {
  margin-bottom: 50px;
}

.return-button {
  font-size: clamp(1.6rem, 2.5vw, 2.2rem);
  margin-bottom: 120px;
  text-align: end;
  color: #4b6aa5;
}

.my-works-content-item {
  margin-bottom: 30px;
}

.my-works-content-item h3 {
  font-size: clamp(2.4rem, 2.5vw, 3.2rem);
  color: #4b6aa5;
  border-bottom: 3px solid #4b6aa5;
  padding-bottom: 10px;
  margin-bottom: 10px;
  @include mq("tab") {
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}

.my-works-text {
  font-size: clamp(1.6rem, 2.5vw, 2.4rem);
  line-height: 4.45rem;
  @include mq("tab") {
    line-height: 3.05rem;
  }
}

.closing-text {
  font-size: clamp(1.6rem, 2.5vw, 2.4rem);
  color: red;
}

.works-table-image img {
  margin-bottom: 40px;
}

.works-table {
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 80px;
}

.works-table table tr td {
  font-size: clamp(1.6rem, 5vw, 2rem);
  padding-top: 30px;
  padding-bottom: 30px;
}

.works-table td:nth-of-type(1) {
  border: none;
  font-size: clamp(1.6rem, 5vw, 2rem);
  color: #4b6aa5;
  width: 25%;
  padding-left: 5%;
  border-bottom: 1px solid #707070;
}

.works-table td:nth-of-type(2):last-child {
  border: none;
  width: 65%;
  padding-right: 5%;
  font-weight: 300;
  border-bottom: 1px solid #707070;
}

/* || single-pageのloading画面 */

#loading-left {
  background: #4b6aa5;
  position: fixed;
  width: 100vw;
  height: 100vh;
  right: 0;
  transform-origin: left top;
  z-index: 9999;
}

@media (max-width: 1024px) {
  .loading-left {
    display: none;
  }
}

/* || 404page/thanks-page共通 */

.other-page-title-wrap {
  background-color: #4b6aa5;
  color: #fff;
  text-align: center;
}

.other-page-title {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  padding: 30px 0 15px;
  line-height: 2rem;
}

.other-sub-title {
  font-size: 1.6rem;
}

.other-page-main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 40vh;
}

.other-page-section p {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

/* || 404page */

.return-home {
  color: #4b6aa5;
  border-bottom: 1px solid #4b6aa5;
}

/* || thanks-page */
.other-page-section-message {
  margin-bottom: 40px;
}
